
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    /*  */
    /* min-height: 100vh; */
    background: linear-gradient(to top ,#030802,#011806,#002408);
    background-attachment: fixed;
}

/* box2  is login */
.box,.box2,.box3 {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    width: 380px;
   background: #03611446; 
    border-radius:10px;
    backdrop-filter: blur(5px);
    box-shadow:inset 4px 4px 10px #528549;
}
::placeholder{
    color: #aceaa2;
}
.box{
    margin: 7% auto;
    height: 520px;
    /* margin-top: 50px ; */
}
.box2{
    margin: 10% auto;
    height: 400px;
}
.box3{
    margin: 8% auto;
    height: 480px;
}



h2 {
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.inputBox {
    position: relative;
    color: #c6ffbb;
    width: 300px;
    margin-top: 35px;
    padding: 12px;
    background: #0aa7318a;
    box-shadow:inset 4px 4px 10px #000000;
    border-radius: 10px;
    border-left: 1px solid #000;
}


a,#links,#links{
    margin-top: 0.7rem;
    font-size: 1rem;
    color: #de2a33;
    font-weight: 500;
    text-decoration: beige;
}

#links{
    margin-left: 30%;
}
#links3{
    margin-left: 51%;
}
a{
    margin-left: 40%;
}

#links:hover,#links3:hover,
a:hover
{
    color: #5858f0;
    transition: 0.4s;
}

/* .links span{
    color: rgb(221, 213, 213);
    font-size: 15px;
    bottom: 142px;
    margin-left: 18px;
    position: absolute; 
} */


.btn{
    margin-top: 40px;
    margin-bottom: 10px;
    width: 40%;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    padding: 10px;
    box-shadow:inset 2px 2px 5px #153615;
    font-weight: 520;
    background-color: #12ab0a;
    color: #000000;
    font-size: 14px;
}
 .btn:hover{
    background-color: #5858f0;
    color: #000000;
    transition: 0.4s;
 }

 .check{
    margin-top: 20px;
    margin-right: 80%;
 }
 #terms{
    color: #cbeac2;
    margin-top: -10px;
    font-size: 11px;
 }