* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-attachment: fixed;
  background-image: radial-gradient(
      circle at 39% 47%,
      rgba(107, 107, 107, 0.08) 0%,
      rgba(107, 107, 107, 0.08) 33.333%,
      rgba(72, 72, 72, 0.08) 33.333%,
      rgba(72, 72, 72, 0.08) 66.666%,
      rgba(36, 36, 36, 0.08) 66.666%,
      rgba(36, 36, 36, 0.08) 99.999%
    ),
    radial-gradient(
      circle at 53% 74%,
      rgba(182, 182, 182, 0.08) 0%,
      rgba(182, 182, 182, 0.08) 33.333%,
      rgba(202, 202, 202, 0.08) 33.333%,
      rgba(202, 202, 202, 0.08) 66.666%,
      rgba(221, 221, 221, 0.08) 66.666%,
      rgba(221, 221, 221, 0.08) 99.999%
    ),
    radial-gradient(
      circle at 14% 98%,
      rgba(184, 184, 184, 0.08) 0%,
      rgba(184, 184, 184, 0.08) 33.333%,
      rgba(96, 96, 96, 0.08) 33.333%,
      rgba(96, 96, 96, 0.08) 66.666%,
      rgba(7, 7, 7, 0.08) 66.666%,
      rgba(7, 7, 7, 0.08) 99.999%
    ),
    linear-gradient(301deg, rgb(195, 4, 23), rgb(133, 23, 155));
}

.navbar {
  color: #000;
  backdrop-filter: blur(4px);
  background-color: rgba(58, 55, 55, 0.252);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  align-items: center;
}
.navbar h1 {
  margin-left: -1rem;
  font-size: 2rem;
  color: #e91405;
  text-shadow: 0.5px 0.3px #191212;
  margin-top: 0.7rem;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin-right: 1.4rem;
}
.navbar ul li {
  font-size: 1.2rem;
  font-weight: bold;
}
.navbar ul li a {
  text-decoration: none;
  color: #80c8e2;
  text-shadow: 0.5px 0.3px #191212;
  padding: 1.4rem;
  border: none;
}
.navbar ul li a:hover {
  font-size: 1.5rem;
  color: #4caf50;
  text-shadow: 0.05rem 0.08rem 1rem #191212;
}

h3 {
  padding-left: 1rem;
}
#brandimg {
  height: 3.9rem;
  left: 0;
}
#brand {
  display: flex;
  color: rgb(219, 9, 19);
}
button {
  padding: 0.6rem 1rem;
  /* margin-top:1rem; */
  border: 0;
  border-radius: 0.8rem;
  /* width:100%; */
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 0.625rem;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
button:hover {
  background-color: #357737;
  cursor: pointer;
}

#details th {
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
}

#details {
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  /* margin-top:2rem; */
  text-align: center;
  border-collapse: collapse;
  width: 95%;
  /* height:20rem; */
  /* margin: 2rem; */
  /* border: 5px solid #000000; */
  font-size: 18px;
  /* margin-left: 2rem; */
  box-shadow: rgb(0, 0, 0) 2px 2px 4px;
  border-radius: 0.3rem;
  text-align: center;
}

#details td,
#details th {
  border: 1;
  border-color: black;
  padding: 0.5rem;
  box-shadow: rgb(29, 29, 29) 0px 0px 2px 2px;
  border-radius: 0.3rem;
}
@media screen and (max-width: 400px) {
  #details {
    zoom: 50%;
  }
}
